* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
} 

img {
  border-radius: 50%;
}
/* body {
  height: 100vh;
} */

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  height: 81px;
  background-color: #2d2d35;
  flex-shrink: 0;

  nav {
    display: flex;
    justify-content: space-around;
    padding: 18px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      text-decoration: none;
      font-size: 2rem;
      span {
        font-size: 12px;
      }
    }
  }
}

.central-wrapper {
  flex-grow: 1;
  background-color: rgb(102, 102, 148);
  display: flex;
  overflow: hidden;
}

.sidebar {
  display: block;
  position: relative;
  width: 81px;
  flex-shrink: 0;
  background-color: #141318;
  text-align: center;

  div > img {
    padding-top: 1rem;
  }
}

main {
  /* height: calc(100% - 160px); */
  flex-grow: 1;
  /* background-color: rgb(102, 102, 148);
  overflow: auto; */
  overflow-y: auto;
}